@model IEnumerable<MobileShop_.Models.Sales>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PricePerUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.ItemsId)
            </td>
            <td>
				<a asp-action="Edit" asp-route-id="@item.SalesId" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-eye-open"></span>Edit</a> |
				<a asp-action="Details" asp-route-id="@item.SalesId" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-briefcase"></span>Details</a> |
				<a asp-action="Delete" asp-route-id="@item.SalesId" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-erase"></span>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
<script>

		$(document).ready(function () {
			$('#table').DataTable();
		});
</script>
	<script type="text/javascript">
function add_chatinline() { var hccid = 92588902; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
	add_chatinline(); </script>

}